h1 {
    color:red;
}

/* Estoy probando colores y fuentes */
p{
    color: blue; 
    font-size: 20pt;
}

#primera-noticia {
    color: green;
    font-size: 12pt;

}

#segunda-noticia {
    color:darkmagenta
}

.encabezado {
    text-transform: uppercase;
}

* {
    color: rgb(109, 26, 26);
}

.Autor, .Fecha {
    text-decoration: underline;
}
